#copy-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  width: 100%;
  /* margin-bottom: 15vw; */
}

.copy-box {
  border: 2px solid #666;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  font-size: 10vmin;
  transition: all 0.2s;
  aspect-ratio: 1/1;
  width: 10%;

}

.copy-box:hover {
  background: #f5f5f5;
}

.copy-box.copied {
  background: #90EE90;
  transform: scale(0.95);
}




#controls {
  display: flex;
  font-weight: 800;
  margin: auto;
  justify-content: space-between;
}

#left-control:hover {
  color: #ff8555;
}

#right-control:hover {
  color: #ff8555;
}

#left-control {
  font-weight: 100;
}

#right-control {
  font-weight: 100;
}