#copy-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    width: 100%;
    /* margin-bottom: 15vw; */
}
.copy-box {
    border: 2px solid #666;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-size: 10vmin;
    transition: all 0.2s;
    aspect-ratio: 1/1;
    width: 10%;
    
}
.copy-box:hover { background: #f5f5f5; }
.copy-box.copied {
    background: #90EE90; transform: scale(0.95); 
}
body {
    font-family: "F0xProto";
}
@import url(https://db.onlinewebfonts.com/c/e8e7a20efd02fd010b6634a4d4cfbc8b?family=F0xProto);

.scroll-top {
    position: fixed;
    bottom: 1vmin;
    left: 44vw;
    margin: auto;
    text-align: center;
    display: none;
    width: 12vw;
    height: 12vw;
    background: #ff6b35;
    color: #fef9f3;
    border: solid 1vmin #fef9f3;
    border-radius: 50%;
    font-size: 5vmin;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 1vmin 3vmin rgba(0,0,0,0.2);
}

.scroll-top:hover {
    background: #ff8555;
}
